.pageWrapper {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	margin: auto;
  	width: 65%;
}
.addonsCardSelected {
	width: 45%;
	height: 240px;
	border: 2px solid #3e498a;
	padding: 2rem;
	text-align: center;
	margin-bottom: 2em;
	background-color: #cad0f1;
	position: relative;
	border-radius: 40px;
  
	box-shadow: 0 20px 40px rgba(0,0,0,0.30), 0 15px 12px rgba(31, 51, 161, 0.4) inset;
}
.addonsCardNotSelected {
	width: 45%;
	height: 240px;
	border: 1px solid black;
	padding: 2rem;
	text-align: center;
	margin-bottom: 2em;
	position: relative;
	border-radius: 40px;
  
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
  }
  .addonsCardNotSelected:hover{
	  transform: scale(0.98);
  }