/* commons */
*, *::before, *::after {
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/backgroundImageJPG.jpg);
  background-repeat: repeat-y;
  background-attachment: scroll;

}
/* loading gif: */
.loading {
	box-shadow: none;
	display: block;
	margin: auto;
	left: 50%;
	bottom: 50%;
}
/* components styling */

img {
  max-width: 100%;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.container {
  margin: 0 auto;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
}