.priceCard {
    width: 45%;
    height: 250px;
    border: 1px solid black;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
  
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.priceCard:hover {
    transform: scale(1.02);
}
.smallText {
	font-size: small;
}
.animate.pop {
	animation-duration: 0.5s;
	animation-name: animate-pop;
	animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  
  @keyframes animate-pop {
	0% {
	  opacity: 0;
	  transform: scale(0.5, 0.5);
	}
  
	100% {
	  opacity: 1;
	  transform: scale(1, 1);
	}
  }
